<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="/home" class="navbar-brand">InfoClass</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/home')}"><a href="/home">Home</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                        aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!---
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/cidade"><i class="fa fa-map" aria-hidden="true"></i>  Cidades</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/estado"><i class="fa fa-map" aria-hidden="true"></i>  Estados</a></li>
                        -->
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/instituicao"><i class="fa fa-bank" aria-hidden="true"></i>  Instituição</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/usuario"><i class="fa fa-user-o" aria-hidden="true"></i>  Usuário</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/cargos"><i class="fa fa-suitcase" aria-hidden="true"></i>  Cargos</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/assuntos"><i class="fa fa-commenting-o" aria-hidden="true"></i>  Assuntos</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/categorias"><i class="fa fa-list" aria-hidden="true"></i>  Categorias</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/artigos"><i class="fa fa-commenting-o" aria-hidden="true"></i>  Artigos</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/cursos"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Cursos</a></li>
                        <li style="height:auto;"><a style="height:auto; font-size: 16px;" 
                            href="/aulas"><i class="fa fa-address-book" aria-hidden="true"></i>  Aulas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>