<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row" ng-if="vm.isAdministrador()">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.instituicaoPage()"><i
                                class="fa fa-bank fa-5x"></i><br><br>Instituição</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.usuarioPage()"><i
                                class="fa fa-user-o fa-5x"></i><br><br>Usuário</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.cargosPage()"><i
                                class="fa fa-suitcase fa-5x"></i><br><br>Cargos</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.assuntosPage()"><i
                                class="fa fa-commenting-o fa-5x"></i><br><br>Assuntos</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.categoriasPage()"><i
                                class="fa fa-list fa-5x"></i><br><br>Categorias</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.artigosPage()"><i
                                class="fa fa-commenting-o fa-5x"></i><br><br>Artigos</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.cursosPage()"><i
                                class="fa fa-graduation-cap fa-5x"></i><br><br>Cursos</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.aulasPage()"><i
                                class="fa fa-address-book fa-5x"></i><br><br>Aulas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>